doctype html
html
  head
    title=title  
    meta(http-equiv='Cache-control' content='no-cache')
  body(style="margin-left:25px")
    block content
  script(src='//code.jquery.com/jquery-2.1.1.min.js')